.header {
  display: flex;
  min-height: 66px;
  align-items: center;
  background-color: #f2f2f2;
  justify-content: space-between;
}
.header > div {
  display: flex;
  align-items: center;
}
.header > div:not(.header__search) {
  min-width: 250px;
  max-width: 250px;
}
.theme__toggle > *, .brand > *, .hamburger {
  transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.brand {
  display: flex;
  font-weight: 600;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin: 0 18px;
}

.hamburger {
  padding: 12px;
  cursor: pointer;
  margin-left: 12px;
}

.theme__toggle {
  display: flex;
  align-items: center;
}
.theme__toggle > *:not(p) {
  margin: 0 12px;
}
.theme__toggle > p {
  font-size: 13px;
  font-weight: 500;
}
.theme__toggle > p:last-child {
  padding-right: 24px;
}


/* DARK THEME */

.dark .header {
  background-color: #202020;
}


/* MOBILE RESPONSIVE */

@media(max-width: 671px) {
  .header__search {
    display: none !important;
  }
  .header {
    min-height: 50px;
  }
}