.home__body {
  flex-grow: 1;
  overflow: auto;
  background-color: #eaeaea;
}

.home {
  display: grid;
  padding: 24px;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
}

.home__search > input {
  min-width: calc(100vw - 72px);
  max-width: calc(100vw - 72px);
}


/* DARK THEME */

.dark .home__body {
  background-color: #181818;
}


/* MOBILE RESPONSIVE */

@media(max-width: 871px) {
  .citycard {
    display: flex;
    min-width: calc(100vw - 48px);
    max-width: calc(100vw - 48px);
  }
  .citycard__desc {
    min-width: calc(100vw - 48px);
    max-width: calc(100vw - 48px);
  }
}

@media(min-width: 671px) {
  .home__search {
    display: none !important;
  }
}

@media(max-width: 480px) {
  .home__body {
    overflow-x: hidden;
  }
  .citycard__img {
    max-width: 25%;
  }
  .citycard__img > img {
    max-width: 80px;
    max-height: 80px;
  }
}