.sidebar {
  display: flex;
}


/* SETTINGS DRAWER */

.sidebar__drawer {
  top: 0;
  left: 0;
  z-index: 99;
  width: 280px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  background-color: #eee;
  transform: translateX(-280px);
  transition: 0.33s cubic-bezier(0.5, 0.2, 0.4, 1) !important;
}

.sidebar__drawer__close {
  padding: 16px;
  cursor: pointer;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__header > * {
  padding: 16px;
}

.sidebar__header > h2 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar__content {
  padding: 16px;
}


/* CLICKABLE EMPTY BACKGROUND AREA TO DISMISS DRAWER */

.sidebar__backdrop {
  opacity: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  position: fixed;
  max-height: 100%;
  visibility: hidden;
  background-color: #000;
  transition: 0.33s cubic-bezier(0.5, 0.2, 0.4, 1) !important;
}


/* DARK THEME */

.dark .sidebar__drawer {
  background-color: #242424;
}